.cardContainer {
  background: #2f4159 !important;
  color: #ffffff;
  border: none !important;
  border-radius: 5px !important;
  max-width: 400px;
  width: 59vh;
}

.logo {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
}

.card-body {
  padding: 25px !important;
}

.centered {
  text-align: center;
}

.formInput {
  width: 100% !important;
  box-sizing: border-box !important;
  padding: 12px 5px !important;
  border-radius: 2px !important;
  background: none !important;
  border: none !important;
  color: #a3b3c3 !important;
  border-bottom: 3px solid #465568 !important;
}
.formInput:focus {
  color: #ffffff !important; 
  border-bottom:3px solid #ffffff !important;
  box-shadow: none !important;
}
.form-control::placeholder {
  color: #a3b3c3 !important;
}
.form-control:focus::placeholder {
  color: #ffffff !important;
}

.btnContainer {
  display: flex;
  justify-content: center;
}

.sendButton {
  width: 100%;
  margin: 15px 0px 15px;
}
