.card-style{
    background: rgb(47, 65, 89) !important;
    color: white;
    border: "none";
}

.img-style {
    width: '120px';
    padding: "20px 5px";
}

.tex {
    text-align: center;
}

.but-style {
    width: "100%";
    margin: "30px 0px 30px";
}